<a href="https://colab.research.google.com/github/sakshi-1208/python_for_Datascience/blob/main/helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
print("My name is sakshi")
print("My age is 24")

My name is sakshi
My age is 24

In [3]:
print("My name is Sakshi", "My age is 24")

My name is Sakshi My age is 24

In [5]:
print(25)
print(34+26)
print(23-26)

25
60
-3

In [6]:
name="Sakshi"
age=25
price=25.99

print(name, age)
print(price)

Sakshi 25
25.99