<a href="https://colab.research.google.com/github/sakshi-1208/python_for_Datascience/blob/main/helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
print("My name is sakshi")
print("My age is 24")

My name is sakshi
My age is 24

In [3]:
print("My name is Sakshi", "My age is 24")

My name is Sakshi My age is 24

In [5]:
print(25)
print(34+26)
print(23-26)

25
60
-3

In [19]:
name="Sakshi" #string
age=25 #int
price=25.99 #floating
b=True
a=None

print("My name is: ",name, "\n", "my age is: ", age)
print(price)

My name is:  Sakshi
 my age is:  25
25.99

In [20]:
print(type(name))
print(type(age))
print(type(price))
print(type(b))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [25]:
 #Sum
 a = 2000
 b = 500
 Sum= a+b
 print(Sum)

2500

In [24]:
 #subtration
 a = 2000
 b = 500
 Sub= a-b
 print(Sub)

1500

In [27]:
# Single Line Comment

"""
multi
Line
comments
"""

'\nmulti\nLine\ncomments\n'

In [30]:
#arithemetic operators
a=5
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #remainder
print(a**b) #a^b

7
3
10
2.5
1
25

In [32]:
#Relational operator
a=50
b=20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [41]:
#assignment operator

a=5
b=20

a+=1
print(a)
a-=1
print(a)
a*=2
print(a)
a**=2
print(a)
a/=10
print(a)
a%=1
print(a)

6
5
10
100
10.0
0.0

In [44]:
#logical operators

a = True
b = False

print(not a)
print(a and b)
print(a or b)

False
False
True

In [55]:
#type conversion

a= int("2") #type casting
b= 4.25

print(type(a))
print(type(a+b)) #type conversion

<class 'int'>
<class 'float'>

In [56]:
name = input("enter your name: ")
print(name)

val = int(input("enter some value: "))
print(type(val))

enter your name: sakshi
sakshi
enter some value: 25
<class 'int'>

In [57]:
name = input("enter name: ")
age = int(input("enter age: "))
marks = float(input("enter marks: "))

print("welcome", name)
print("age= ", age)
print("marks", marks)

enter name: sakshi
enter age: 25
enter marks: 94.6
welcome sakshi
age=  25
marks 94.6

In [60]:
#Write a Program to input 2 numbers and print their sum

num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))

print("sum is: ", num1+num2)

enter the first number20
enter the second number100
sum is:  120

In [63]:
#WAP to input side of a square and print its area

side = float(input("enter the side of square: "))

print("area of square is: ", side*side)

enter the side of square: 30
area of square is:  900.0

In [66]:
#WAP to input 2 floating point numbers and print their average

val1 = float(input("enter first number : "))
val2 = float(input("enter second number : "))
avg= (val1+val2)/2
print("average is: ", avg)

enter first number : 20
enter second number : 30
average is:  25.0

In [69]:
#WAP to input 2 int numbers a and b. print true if a is greater than or equal to b, if not print false

a = int(input("a= "))
b = int(input("b= "))

print(a>=b)

a= 10
b= 6
True