<a href="https://colab.research.google.com/github/sakshi-1208/python_for_Datascience/blob/hello-world/List%26Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
marks = [94.4, 87.5, 95.2, 66.4, 45.1]

print(marks)
print(type(marks))
print(len(marks))
print(marks[4])

[94.4, 87.5, 95.2, 66.4, 45.1]
<class 'list'>
5
45.1

In [ ]:
student = ["Karan", 17, 85, "Delhi"]
print(student)
student[0]="Arjun"
print(student)

['Karan', 17, 85, 'Delhi']
['Arjun', 17, 85, 'Delhi']

In [ ]:
str =  "hello"
print(str[0])
#str[0] = y  #not allowed as strings are immutable

h

In [3]:
marks=[87, 65,33, 95, 76]

print(marks[1:4])
print(marks[:3])
print(marks[2:])
print(marks[-3:-1])

[65, 33, 95]
[87, 65, 33]
[33, 95, 76]
[33, 95]

In [9]:
list = [2,1,3]
list.append(4) #adds one element at the end
print(list)
list.sort() #sort the list in ascending order
print(list)
list.sort(reverse=True) # sort the list in descending order
print(list)
list.reverse() #reverse list
print(list)
list.insert(2, 5)
print(list)

[2, 1, 3, 4]
[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]
[1, 2, 5, 3, 4]

In [11]:
list1 = ["apple", "lichi", "mango", "banana"]
list1.reverse()
print(list1)
list1.sort() #sort the list in ascending order
print(list1)
list1.sort(reverse=True) # sort the list in descending order
print(list1)

['banana', 'mango', 'lichi', 'apple']
['apple', 'banana', 'lichi', 'mango']
['mango', 'lichi', 'banana', 'apple']

In [13]:
list2=[2,1,3,1]
list2.remove(1) #removes first occurance of the element
print(list2)
list2.pop(2) #removes element at idx
print(list2)

[2, 3, 1]
[2, 3]

In [6]:
tup1=(1,2,3,4)
print(type(tup1))
#tup1[0]=0 #not allowed
print(tup1)
print(tup1[:2])

<class 'tuple'>
(1, 2, 3, 4)
(1, 2)

In [5]:
tup1=()
print(tup1)
tup2=(1,)
print(tup2)
tup3=(1.0)
print(type(tup3))

()
(1,)
1.0

In [10]:
yupsup=(1,2,3,4,5,6,7,10,11,67,3,4)
print(yupsup.count(4))
yupsup.index(7)

2

6

In [13]:
 #WAP to ask the user to enter names of their 3 favorite movies and store them in a list
movies=[]
m1 = input("enter your favorite movies")
m2 = input("enter your favorite movies")
m3 = input("enter your favorite movies")
movies.append(m1)
movies.append(m2)
movies.append(m3)

print(movies)

enter your favorite moviesvmp
enter your favorite moviesgot
enter your favorite moviesharry
['vmp', 'got', 'harry']

In [14]:
movies = []
movies.append(input("enter your 1st movie: "))
movies.append(input("enter your 2nd movie: "))
movies.append(input("enter your 3rd movie: "))

print(movies)

enter your 1st movie: vamp
enter your 2nd movie: harry
enter your 3rd movie: got
['vamp', 'harry', 'got']

In [26]:
#WAP to check if a list contains pallindrone of element or not
#[1,2,3,2,1]          [1,"abc","abc",1]

List1 = [1,2,3,4,5,4,3,2,1]
List2 = [1,2,3]

L1_cpy = List1.copy()
L1_cpy.reverse()
L2_cpy = List2.copy()
L2_cpy = List2.reverse()

if(List1==L1_cpy):
  print("is pallindrone")
else:
  print("sorry")

if(List2==L2_cpy):
  print("is pallindrone")
else:
  print("sorry")

is pallindrone
sorry